@import 'sass/materialize.scss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// Main
.parallax-container {
  opacity: 0.65;
}

.caption {
  position: relative;
  top: calc(50% - 80px);
  width: 100%;
  text-align: center;

  &-text {
    display: inline-block;
    padding: 1rem;
    background-color: #111;
    color: $primary-color;
    letter-spacing: 10px;
  }
}

.section {
  padding: 1rem;
  text-align: center;
}

.lighter-text {
  color: $primary-color-text-light;
  padding-left: 6px;
}

.carousel-item-wrapper {
  width: 400px;
  height: 400px;
}