@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'sass/materialize.scss';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// Header

// Main
.parallax {
  opacity: 0.65;
}

.content {
  position: relative;
  text-align: center;
  padding: 100px;
}

.section {
  padding: 100px;
  text-align: center;
}

// Footer